body {
    background-color: #79d3fa;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-image: url(./assets/5.jpeg);
  background-size: cover;
  background-position: center;
  height: 60px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  h1 {
    margin: 0;
    font-size: 28px;
  }
  
  nav {
    background-color: #155780;
    padding: 10px;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  li {
    display: inline;
    margin-right: 10px;
  }
  
  li a {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  section {
    padding: 40px;
    color: #333333;
  }
  
  /* Add the following CSS to your existing styles.css file */

#hero {
  background-image: url(./assets/5.jpeg);
  background-size: cover;
  background-position: center;
  height: 400px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}
.colored-txt {
  color: rgb(249, 127, 124);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
@keyframes floating {
  50% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.floating-text {
  animation: floating 2s infinite; 
  color: #ff5e5e;
  font-weight: bold;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;/* Durée de l'animation */
}
.floating-txt {
  animation: floating 2s infinite; 
  color: #11318b;
  font-weight: bold;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;/* Durée de l'animation */
}
.hero-content {
  text-align: center;
  color: #fff;
}

.hero-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ff5e5e;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ff3c3c;
}

  
  footer {
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
  }
  .project {
    background-color: #FFFFFF;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .project h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #project img {
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .project p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  #project video {
    width: 80%;
    max-width: 300px;
  }
  .image-container {
    margin-bottom: 20px;
  }
  button {
    padding: 10px 20px;
    background-color: #183854;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .secondary-btn {
    background-color: #999;
  }
  
  button:hover {
    background-color: #555;
  }
  
  .contact-form{
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 10px;
  }

  #message{
    min-width: 600px;
    max-width: 600px;
    min-height: 100px;
  }
  /* Add the following CSS styles to your existing styles.css file */

.project-section {
  padding: 50px;
  background-color: #356a93;
  display: flex;
  align-items: center;
}

.project-content {
  flex: 1;
  text-align: center;
}

.project-section h3 {
  background-color: #485ab7;
  font-size: 28px;
  margin-bottom: 20px;
}

.project-section p {
  font-size: 18px;
  margin-bottom: 30px;
}


.project-section video {
  width: 100%;
  max-width: 500px;
}
.section-projet {
  text-align: center;
}
.project-section{
  text-align: center;
}
.video-container {
 
  width: 1000; /* Largeur d'origine */
  height: 260; /* Hauteur d'origine */
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container_c {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px;
  height: 410px;
}
.image-container_e {
  scale: 1.85;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px;
  height: 375px;
}
.image-container_c {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px;
  height: 410px;
}
.image-container_m {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1300;
  height: 100;
}
.image-container_t {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300;
  height: 100;
}
.zoomable-image {
  transition: transform 0.1s ease;
  cursor: pointer;
}

.zoomed-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2.5);
  z-index: 9999;
}


 /* .project .btn {
    /* Styles pour le bouton du projet */
  /*}    
  